@model NguyenPhuongThuyLinh128.Models.PersonNPTL128

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>PersonNPTL128</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.PersonId">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
